@media only screen and (max-width: 1920px) {
  body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;
  }
  a:link {
    text-decoration: none;
  }
  header {
    width: 100%;
  }
  .main_logo {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .name_place {
    width: 100%;
    background-color: #d2d2cb;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    box-shadow: 0 4px 10px -8px black inset;
  }
  .name_place i {
    margin-right: 10px;
  }
  nav {
    display: flex;
    flex-direction: column;
    background-color: #eaeae6;
    padding-top: 15px;
    padding-bottom: 40px;
  }
  nav h1 {
    white-space: pre-line;
    text-align: center;
  }
  nav span {
    text-align: center;
  }
  .exploration {
    border-radius: 25px;
    text-align: center;
    align-self: center;
    border: 2px solid black;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 25px;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 60%;
    background-image: linear-gradient(to bottom right, rgb(222, 131, 205), #c03889);
    border: none;
    box-shadow: 0 2px 4px 0.1px grey;
  }
  .exploration:hover {
    background-image: linear-gradient(to bottom right, rgb(222, 161, 205), #c14a91);
  }
  .exploration span {
    color: white;
  }
  .how_it_work {
    padding-top: 20px;
    margin-bottom: 50px;
  }
  .how_it_work h2 {
    margin-left: 5%;
  }
  .hiw_list {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
    border: 2px solid rgb(220, 220, 220);
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 16px;
    background-color: rgb(220, 220, 220);
    color: black;
    box-shadow: 1px 2px 4px 0.1px rgb(202, 198, 198);
  }
  .hiw_list span {
    font-weight: 600;
  }
  .hiw_list:hover {
    background-color: rgb(202, 193, 195);
    border: 2px solid rgb(202, 193, 195);
  }
  .nb {
    border: 1px solid rgb(136, 56, 136);
    background-color: rgb(136, 56, 136);
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 50%;
    margin-left: -10px;
  }
  .Restaurant {
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
    background-color: rgb(233, 231, 231);
  }
  .restaurant_list {
    width: 100%;
    height: 220px;
    position: relative;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 1px 2px 4px 0.1px rgb(202, 198, 198);
  }
  .restaurant_list .new {
    font-size: 14px;
    border: 1px solid rgb(113, 192, 166);
    background-color: rgb(113, 192, 166);
    border-radius: 4px;
    padding: 8px;
    color: rgb(48, 93, 67);
  }
  .restaurant_list .new--first {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .restaurant_list .new--second {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .restaurant_list img {
    width: 100%;
    height: 70%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurant_handler {
    margin-left: 5%;
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .restaurant_description {
    position: relative;
    display: flex;
  }
  .restaurant_description i {
    font-size: 20px;
    top: 20px;
    position: absolute;
    right: 50px;
    bottom: 10px;
  }
  .restau_description_text {
    font-size: 15px;
    position: relative;
    top: -10px;
    left: 2%;
    color: black;
  }
  .restau_description_text p {
    position: relative;
    bottom: 15px;
  }
  .newed {
    top: -10px;
  }
  footer {
    background-color: rgb(54, 52, 52);
  }
  footer a {
    margin-bottom: 10px;
    color: white;
  }
  .footer_logo {
    width: 120px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .footer_logo_menu {
    width: 120px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .footer_handler {
    margin-left: 4%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  .footer_list {
    margin-bottom: 10px;
  }
  .footer_list a {
    color: white;
  }
  .footer_list i {
    color: white;
    font-size: 12px;
  }
  /*      Menu section      */
  header .top_header {
    width: 100%;
    display: flex;
    margin-top: 30px;
    margin-left: 5%;
  }
  header .top_header .menu_logo {
    width: 50%;
    margin-left: 17%;
    margin-bottom: 20px;
  }
  header .top_header .return_btn {
    font-size: 30px;
    margin-top: 1%;
  }
  header .main_picture {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  header .note_enchant_img {
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu_list {
    background-color: rgb(233, 231, 231);
    margin-top: -20px;
    margin-bottom: -30px;
    padding-top: 20px;
    padding-bottom: 50px;
    position: relative;
    top: -30px;
    border-radius: 30px 30px 0 0;
  }
  .menu_list .list_title {
    margin-left: 5%;
    font-size: large;
    display: flex;
    gap: 35%;
  }
  .menu_list .list_title i {
    margin-top: 5%;
    font-size: 25px;
  }
  .menu_list .menu_handler {
    margin-bottom: 13%;
    margin-left: 5%;
  }
  .menu_list .menu_handler h2 {
    width: 12%;
    margin-left: 5%;
    font-size: larger;
    border-bottom: 3px solid rgb(90, 209, 209);
  }
  .menu_list .menu_handler .menu_part ul {
    margin-left: -5%;
    margin-right: 5%;
  }
  .menu_list .menu_handler .menu_part ul li {
    list-style: none;
    border: 2px solid white;
    margin-bottom: 15px;
    border-radius: 15px;
    padding-left: 3%;
    padding-bottom: 6px;
    background-color: white;
    box-shadow: 1px 2px 4px 0.1px rgb(202, 198, 198);
  }
  .menu_list .menu_handler .menu_part ul li h3 {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .menu_list .menu_handler .menu_part ul li span {
    justify-content: space-between;
  }
  .menu_list .booking_btn {
    margin-left: 35%;
    border: 2px transparent;
    background-image: linear-gradient(to bottom right, rgb(222, 131, 205), #c03889);
    box-shadow: 0 2px 4px 0.1px grey;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 25px;
    color: white;
  }
  .menu_list .booking_btn:hover {
    background-image: linear-gradient(to bottom right, rgb(222, 161, 205), #c14a91);
  }
}
@media only screen and (max-width: 768px) {
  header .menu_logo {
    width: 50%;
    margin-left: 10%;
    margin-bottom: 20px;
  }
  .restaurant_handler {
    width: 100%;
    margin-left: 0;
    display: unset;
  }
  .restaurant_list .new {
    font-size: 14px;
    position: absolute;
    left: unset;
    right: 40px;
    bottom: unset;
    margin-top: 15px;
    border: 1px solid rgb(113, 192, 166);
    background-color: rgb(113, 192, 166);
    border-radius: 4px;
    padding: 8px;
    color: rgb(48, 93, 67);
  }
  .menu_list .menu_handler {
    margin-left: unset;
  }
  .booking_btn {
    margin-left: 35%;
  }
}/*# sourceMappingURL=style.css.map */