@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@mixin stylish_btn_1 {
    background-image: linear-gradient(to bottom right,#FF79DA , #9356DC );
}

@mixin stylish_btn_2 {
    background-image: linear-gradient(to bottom right,#FF79DA , #9356DC );
}


body {
    width: 100%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;

    .loader-wrapper {
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding-bottom: 70%;
        background-image: linear-gradient(to bottom right,#FF79DA , #9356DC );
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: fadeOut 2.5s forwards;
        .loader {
            display: inline-block;
            width: 50px;
            height: 50px;
            border-radius: 10px;
            position: relative;
            border: 10px solid #99E2D0;
            animation: loader 2s infinite;
        }

        .loading {
            font-family: 'Shrikhand';
            color: black;
            font-size: 50px;
        }
    }
}

@keyframes loader {
    0% { transform: rotate(0deg)}
    25% { transform: rotate(180deg)}
    50% { transform: rotate(180deg)}
    75% { transform: rotate(360deg)}
    100% { transform: rotate(360deg)}
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

a:link {
    text-decoration: none;
}

header {
    width: 100%;
}

.main_logo {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.name_place {
    width: 100%;
    background-color: #d2d2cb;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    box-shadow: 0 4px 10px -8px black inset;
    i {
        margin-right: 10px;
    }
}

nav {
    display: flex;
    flex-direction: column;
    background-color: #eaeae6;
    padding-top: 15px;
    padding-bottom: 40px;

    h1 {
        white-space: pre-line;
        text-align: center;
    }

    span {
        text-align: center;
    }
}

.exploration {
    border-radius: 25px;
    text-align: center;
    align-self: center;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 25px;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 60%;
    @include stylish_btn_1;
    box-shadow: 0 2px 4px 0.1px grey;
    &:hover {
        @include stylish_btn_2;
        box-shadow: 2px 2px 6px rgb(59, 57, 57);
    }

    span {
        color: white;
    }
}

.how_it_work {
    padding-top: 20px;
    margin-bottom: 50px;

    h2 {
        margin-left: 5%;
    }
}


.hiw_list {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
    border: 2px solid rgb(220, 220, 220);
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 16px;
    background-color: rgb(220, 220, 220);
    color: black;
    box-shadow: 1px 2px 4px 0.1px rgb(202, 198, 198);

    span {
        display: grid;
        place-content: center;
        font-weight: 600;
    }

    .step {
        width: 250px;
        margin: 0 auto;
        position: relative;
        i {
            font-size: 20px;
            position: absolute;
            left: -35px;
            
        }
    }

    &:hover {
        background-color: rgb(202, 193, 195);
        border: 2px solid rgb(202, 193, 195);
        i {
            color: #9356DC ;
        }
    }
}

.nb {
    border: 1px solid #9356DC ;
    background-color: #9356DC ;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 50%;
    margin-left: -10px;
}

.Restaurant {
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
    background-color: rgb(233, 231, 231);
}

.restaurant_list {
    width: 100%;
    height: 220px;
    position: relative;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 1px 2px 4px 0.1px rgb(202, 198, 198);
    
    .new--first {
        position: absolute;
        right: 20px;
        top: 15px;
    }

    .new--second {
        position: absolute;
        right: 20px;
        top: 15px;
    }

}

.restaurant_list img {
    width: 100%;
    height: 70%;
    object-fit: cover;

}


.restaurant_list {
    .new {
        font-size: 14px;
        border: 1px solid #99E2D0;
        background-color: #99E2D0;
        border-radius: 4px;
        padding: 8px;
        color: rgb(48, 93, 67);
    }
}


.restaurant_handler {
    margin-left: 5%;
    width: 100%;
    display:grid;
    grid-template-columns: 45% 45%;
    grid-row: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}



.restaurant_description {
    position: relative;
    display: flex;
    .fa-heart {
        font-size: 20px;
        top: 20px;
        position: absolute;
        right: 50px;
        bottom: 10px;
        color: grey;
        &:hover {
            & + .hov {
                transform: scale(1, 1);
                transition: transform 2s;
            }
        }
    }

    .hov {
        bottom: 40px;
        color: #9356DC ;
        transform: scale(0, 0.1);

    }
}

@keyframes filler {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        animation-play-state: paused;
    }
}

.restau_description_text {
    font-size: 15px;
    position: relative;
    top: -10px;
    left: 2%;
    color: black;
    p {
        position: relative;
        bottom: 15px;
    }
}

.newed {
    top: -10px;
}


footer {
    background-color: rgb(54, 52, 52);
    a {
        margin-bottom: 10px;
        color: white;
        &:hover {
            color:#9356DC;
        }
    }
}

.footer_logo {
    width: 120px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer_logo_menu {
    width: 120px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}


.footer_handler {
    margin-left: 4%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.footer_list {
    margin-bottom: 10px;
    a {
        color: white;
    }
    i {
        color:white;
        font-size: 12px;
    }
}

    /*--------------------Menu section---------------------*/


header {
    .top_header {
        position: relative;
        width: 100%;
        display: flex;
        margin-top: 30px;
        margin-left: 5%;
        .menu_logo {
            width: 30%;
            margin-left: 27%;
            margin-bottom: 20px;
        }
        .return_btn {
            font-size: 30px;
            margin-top: 1%;
            color: black;
        }
    }
    .main_picture {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

.menu_list {
    background-color: rgb(233, 231, 231);
    margin-top: -20px;
    margin-bottom: -30px;
    padding-top: 20px;
    padding-bottom: 50px;
    position: relative;
    top: -30px;
    border-radius: 30px 30px 0 0;
    .list_title {
        margin-left: 5%;
        font-size: large;
        display: flex;
        gap: 35%;
        h1 {
            font-family: 'Shrikhand';
        }
        .fa-heart {
            font-size: 25px;
            top: 47px;
            position: absolute;
            right: 100px;
            color: rgb(50, 49, 49);
            &:hover {
                cursor: pointer;
                & + .hov {
                    transform: scale(1, 1);
                    transition: transform 2s;
                }
            }
        }
    
        .hov {
            transform-origin: bottom;
            color: #9356DC ;
            transform: scale(0, 0.1);
    
        }
    }
}
.menu_handler {
    margin-bottom: 13%;
    margin-left: 5%;
    h2 {
        width: 12%;
        margin-left: 5%;
        font-size: larger;
        border-bottom: 3px solid #99E2D0;
    }
}
.menu_part {
    ul {
        margin-left: -5%;
        margin-right: 5%;
        li {

            height: 70px;
            position: relative;
            list-style: none;
            border: 2px solid white;
            margin-bottom: 15px;
            border-radius: 15px;
            padding-left: 3%;
            background-color: white;
            box-shadow: 1px 2px 4px 0.1px rgb(202, 198, 198);
            &:hover {
                .description {
                    .f_name {
                        animation: x_decreasing 0.6s forwards;

                    }
                }
                .progress {
                    & > .progress__bar {
                        transform: scaleX(0.17);
                        & > .check {
                            animation: rotating 0.5s forwards alternate linear;
                        }
                    }
                }
            }
            h3 {
                font-weight: 600;
                margin-top: 6px;
                margin-bottom: 6px;
            }

            .description {
                position: absolute;
                top: -2px;
                padding-top: 20px;
                display: flex;
                height: 50px;
                width: 97%;

                span {

                    padding-top: 15px;
                    font-size: 18px;
                }

                .f_name {
                    font-weight: 200;
                    font-size: 3.7vw;
                    animation: x_increasing 0.7s forwards;
                    display: block;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .price {
                    font-weight: 800;
                }
            }
        
        }
    }
}

@keyframes x_decreasing {
    0% {
        width: 85%;
    }
    100% {
        width: 65%;
    }
}

@keyframes x_increasing {
    0% {
        width: 65%;
    }
    100% {
        width: 85%;
    }
}

.progress {
    position: absolute;
    width: 100%;
    height: 105%;
    top: 0;
    right: -2px;
    &__bar {
        border-radius: 0 13% 13% 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: #99E2D0;
        transform: scaleX(0);
        transform-origin: right;
        transition:  transform 1000ms;
        .check {
            color: white;
            display: grid;
            place-content: center;
            transform: scale(10, 1.5);
        }
    }
}



@keyframes rotating {

    0% { transform: scale(10, 1.5) rotate(0deg)}
    100% { transform: scale(10, 1.5) rotate(360deg)}
}

@for $i from 1 through 9 {
    .menu_part {
        &__#{$i}{
            opacity: 0;
            animation: fadeIn forwards;
            animation-duration: 0.5s;
            animation-delay: 0.5s*$i;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.booking_btn {
    border: 2px transparent;
    @include stylish_btn_1;
    box-shadow: 0 2px 4px 0.1px grey;
    &:hover {
        @include stylish_btn_2;
        box-shadow: 2px 2px 6px rgb(59, 57, 57);
    }
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 25px;
    margin-top: 50px;
    color: white;
    display: grid;
    place-content: center;
}

@media only screen and (width > 768px) {

    .main_logo {
        margin-left: 35%;
        width: 30%;
    }

    .how_it_work {
        display: grid;
        place-content: center;
        padding-bottom: 6%;
        h2 {
            display: grid;
            place-content: center;
        }
    }

    .hiw_list {
        margin-bottom: 20px;
        width: 400px;
        .step {
            i {
                left: -20px;
            }
        }
    }

    .Restaurant {
        padding-bottom: 205px;
        h2 {
            text-align: center;
            font-size: 50px;
            text-decoration-line: underline;
            text-decoration-color: #99E2D0;
        }
        .restaurant_handler {
            padding-top: 6%;
        }
    }

    .menu_handler {
        display: grid;
        place-content: center;
    }

    .menu_part {
        ul {
            li {
                width: 400px;
                .description {
                    .f_name {
                        font-size: 1.05vw;
                    }
                }
            }
        }
    }

    footer {
        height: 80%;
    }
}

@media only screen and (max-width: 768px) {

    body {
        min-width: 450px;
    }

    header {
            .menu_logo {
                width: 50%;
                margin-left: 10%;
                margin-bottom: 20px;

            }
            .main_picture {
                height: 300px;
            }

            .return_btn {
                position: absolute;
                bottom: 10px;
                left: 0;
            }
        }

    .restaurant_handler {
        width: 100%;
        margin-left: 0;
        display: unset;
    }

    .restaurant_list {
        .new {
            font-size: 14px;
            position: absolute;
            left: unset;
            right: 40px;
            bottom: unset;
            border: 1px solid #99E2D0;
            background-color: #99E2D0;
            border-radius: 4px;
            padding: 8px;
            color: rgb(48, 93, 67);
            
        }
    }

    .menu_list {  
        .list_title {
            .fa-heart {
                right: 50px;
            }
            .hov {
                right: 50px;
        
            }
        }  
        .menu_handler {
            margin-left: unset;
        }

        .booking_btn {
            margin-left: 30%;
            margin-right: 30%;
        }
    }

    .menu_part {
        ul {
            li {
                &:hover {
                    .progress {
                        & > .progress__bar {
                            transform: scaleX(0.2);
                        }
                    }
                }
            }
        }
    }

    .progress {
        &__bar {
            .check {
                transform: scale(9, 1.2);
            }
        }
    }

    @keyframes rotating {

        0% { transform: scale(9, 1.2) rotate(0deg)}
        100% { transform: scale(9, 1.2) rotate(360deg)}
    }

    
    
}
